<!--<div class="topnav" id="myTopnav">-->

<!--  <a routerLink="/" class="active">Home</a>-->
<!--  <div *ngIf="!checkLogin">-->
<!--    <a routerLink="register">Register</a>-->
<!--    <a routerLink="login">Login</a>-->
<!--  </div>-->
<!--  <div *ngIf="checkLogin">-->
<!--    <a routerLink="login">{{name}}</a>-->
<!--    <a routerLink="change-avatar"><img src="{{avatar}}" width="40" height="40" style="border-radius: 50%"></a>-->
<!--    <a (click)="logOut()">Log Out <mat-icon color="accent">logout</mat-icon></a>-->
<!--    <a routerLink="category">Category</a>-->
<!--    <a routerLink="diary">Diary</a>-->
<!--  </div>-->
<!--&lt;!&ndash;  <a target="_blank" href="https://github.com/kotairo001/aothatday"><img src="https://firebasestorage.googleapis.com/v0/b/dongchinh.appspot.com/o/images%2Fgit.png?alt=media&token=2d86060e-3b6f-400b-a187-0ed4954f2aec&_gl=1*v6dqcn*_ga*MTczODQ1MjQ5Ni4xNjg2NjAxNTI3*_ga_CW55HF8NVT*MTY4NjY1MDkxOS4zLjEuMTY4NjY1MDk1Ni4wLjAuMA.." alt="" style="border-radius: 50%" width="40" height="30">GIT FE JV10</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a target="_blank" href="https://github.com/kotairo001/aothatday"><img src="https://firebasestorage.googleapis.com/v0/b/dongchinh.appspot.com/o/images%2Fgit.png?alt=media&token=2d86060e-3b6f-400b-a187-0ed4954f2aec&_gl=1*v6dqcn*_ga*MTczODQ1MjQ5Ni4xNjg2NjAxNTI3*_ga_CW55HF8NVT*MTY4NjY1MDkxOS4zLjEuMTY4NjY1MDk1Ni4wLjAuMA.." alt="" style="border-radius: 50%" width="40" height="30">GIT BE JV10</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="input">@Input</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="output">@Output</a>&ndash;&gt;-->
<!--  <a target="_blank" href="https://www.youtube.com/playlist?list=PLDXo4FUSUftddLeSJASfERS1I-e-8hsIV"><mat-icon color="accent">video_library</mat-icon>YouTube</a>-->
<!--  <a href="javascript:void(0);" class="icon" onclick="myFunction()">-->
<!--    <i class="fa fa-bars"></i>-->
<!--  </a>-->

<!--</div>-->

<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
  <a *ngIf="!checkAdmin" routerLink="/" class="logo">Diary Online</a>
  <a *ngIf="checkAdmin" routerLink="/" class="logo">Management DashBoard</a>
  <ul class="main-nav" id="js-menu">
    <li *ngIf="!checkAdmin">
      <a routerLink="/" class="nav-links">Home</a>
    </li>
    <li *ngIf="!checkLogin">
      <a routerLink="register" class="nav-links">Sign Up</a>
    </li>
    <li *ngIf="!checkLogin">
      <a routerLink="login" class="nav-links">Sign In</a>
    </li>
    <li *ngIf="checkLogin && !checkAdmin">
      <a routerLink="change-avatar" class="nav-links"><img src="{{avatar}}" width="30" height="30"
                                                           style="border-radius: 50%" alt="No Image"></a>
    </li>
    <li *ngIf="checkLogin && !checkAdmin">
      <a (click)="openDialog()" class="nav-links">{{name}}</a>
    </li>
    <li *ngIf="checkLogin && checkAdmin">
      <a class="nav-links">{{name}}</a>
    </li>
    <li *ngIf="checkLogin && !checkAdmin">
      <a routerLink="diary/all/{{id}}" class="nav-links">Diary</a>
    </li>
    <li *ngIf="checkLogin && checkAdmin">
      <a routerLink="category" class="nav-links">Category</a>
    </li>
    <li *ngIf="checkLogin && checkAdmin">
      <a routerLink="users" class="nav-links">User</a>
    </li>
    <li *ngIf="checkLogin" (click)="logOut()">
      <a style="padding-left: 30px; color: #f2f2f2;">Log Out</a>
    </li>
  </ul>
</nav>
