<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px; margin-bottom: 20px">
      <mat-card style="margin: 0">
        <mat-error class="alert alert-success"
                   style="color: darkblue; text-align: center;font-weight: 700">{{status}}</mat-error>
        <form class="form-angular" #f="ngForm" (ngSubmit)="f.form.valid && updateDiary()">
          <mat-form-field style="width: 100%">
            <mat-label>Title</mat-label>
            <input #title="ngModel" [(ngModel)]="diary.title" name="title" matInput required
                   minlength="6" value="{{diary.title}}">
            <!--            <mat-icon color="accent" matSuffix>sentiment_very_satisfied</mat-icon>-->
            <mat-error *ngIf="title.hasError('required')">The title is required!</mat-error>
            <mat-error *ngIf="title.hasError('minlength')">The title must at least 6 character!</mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%">
            <mat-label>Description</mat-label>
            <input #description="ngModel" [(ngModel)]="diary.description" name="description" required matInput value="{{diary.description}}">
            <mat-error *ngIf="description.hasError('required')">The description is required!</mat-error>
          </mat-form-field>
          <!--          <mat-form-field style="width: 100%">-->
          <!--            <mat-label>Select category</mat-label>-->
          <!--            <mat-select #category="ngModel" [(ngModel)]="form.listCategory" multiple name="category" required>-->
          <!--              <mat-option *ngFor="let category of listCategory" [value]="category">{{category.name}}</mat-option>-->
          <!--            </mat-select>-->
          <!--            <mat-error *ngIf="category.hasError('required')">Please select category!</mat-error>-->
          <!--          </mat-form-field>-->
          <mat-form-field style="width: 100%; height: 200px">
            <mat-label>Detail</mat-label>
            <textarea #detail="ngModel" [(ngModel)]="diary.detail" name="detail" required matInput value="{{diary.detail}}"></textarea>
            <mat-error *ngIf="detail.hasError('required')">The detail is required!</mat-error>
          </mat-form-field>
          <app-upload-avatar (giveURLtoCreate)="onUpload($event)"></app-upload-avatar>
          <button type="submit" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary"
          >
            Update
            <!--            <mat-icon color="accent" matSuffix>send</mat-icon>-->
          </button>
        </form>

      </mat-card>
    </div>
  </div>
</div>
