<div class="container">
  <div class="row">
    <div class="offset-lg-4 col-lg-5 col-sm-6 col-12 main-section text-center">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
      </div>
      <div class="row user-detail">
        <div class="col-lg-12 col-sm-12 col-12">
          <img src="{{avatar}}" class="rounded-circle img-thumbnail" width="250px" style="margin-top: 10px">
          <h3 style="margin-top: 10px; font-weight: 700;">{{name}}</h3>
<!--          <p><i class="fa fa-map-marker" aria-hidden="true"></i> New Jersey, USA.</p>-->
<!--          <span>Birthday: {{}}</span>-->
        </div>
      </div>
      <div class="row user-social-detail">
        <mat-dialog-actions>
          <button mat-button mat-dialog-close style="margin-left: 15px">Close</button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
</div>

