<main class="hero">
  <div class="row">
    <div class="content-wrapper ">
      <div class="wrapper">
        <a routerLink="/register" class="btn" style="background-color: rgb(188,110,206); margin-left: 50px"> We
          have {{countDiary}} Diaries </a>
        <a routerLink="/register" class="btn" style="background-color: rgb(188,110,206)"> We have {{countUser}}
          Users </a>
      </div>
      <h1>Let start recording your best moments.</h1>
      <p> The love diary facilitates a utmost aesthetic journal to share your thoughts with yourself.</p>
      <p> Entrust your stories to us.</p>
      <p> We will help you lock that secret in out box.</p>
      <a routerLink="/register" class="btn" style="margin-top: 20px"> Get Started</a>
    </div>

    <div class="content-wrapper ">

      <img src="https://www.pinclipart.com/picdir/big/63-638193_person-writing-in-a-journal-recording-clipart.png"/>

    </div>
  </div>
</main>
<!--<div class="wrap">-->
<!--  <div class="search">-->
<!--    <input type="text" class="searchTerm" placeholder="What are you looking for?">-->
<!--    <button type="submit" class="searchButton">-->
<!--      <i class="fa fa-search"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
